img {
    width: 200px;
    height: 200px;
    display: block;
}

.wrapper {
    width: 800px;
}

.card-header {
    font-size: 25px;
}

.card {
    background-color: brown;
    width: 200px;
    padding: 20px;
    border: 5px;
    display: inline-block;
    box-sizing: content-box;
}