@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

$width-container: 1200px;
$some-background: #EEEFF1;
$size-text-middle: 32px;


.intro {
    background-color: $some-background;
    padding: 10px 0 150px;
    font-family: "Roboto Flex";
}

.intro__container {
    max-width: $width-container;
    margin: 0 auto;
}

.intro__navigation {
    display: flex;
}

.intro__navigation__list {
    padding: 45px 0 0;
}

.intro__navigation__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.intro__navigation__nav-a {
    text-transform: uppercase;
    color: black;
    font-size: 16px;
}

.another {
    color: #34547A;
}

.intro__header-title {
    font-size: 48px;
    color: black;
    margin-top: 120px;
    font-weight: bold;
}

.intro__header-text {
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
}

.intro__header__bottom {
    margin-top: 60px;
}

.intro__header__bottom-btn {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #34547A;
    padding: 12px 40px 12px;
}

.about {
    background-color: #fbfbfc;
    padding: 80px 0;
    font-family: "Roboto Flex";
}

.about__container {
    max-width: 390px;
    margin: 0 auto;
}

.about__title {
    text-align: center;
    font-size: $size-text-middle;
    font-weight: bold;
}

.about__text {
    text-align: center;
    color:#727272;
    margin-top: 30px;
}

.numbers {
    background-color: #34547A;
    font-family: "Roboto Flex";
    padding: 10px 240px 60px;
}

.numbers__item {
    max-width: 1200px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
}

.numbers__card {
    width: 140px;
    height: 50px;
}

.numbers__pic {
    width: 70px;
    height: 50px;
    float: left;
}

.numbers__item__title {
    font-family: "Roboto Flex";
    font-weight: normal;
    color: #EEEFF1;
    margin-left: 30px;
}

.how { 
    background-color: $some-background;
    padding: 10px 0 90px;
    font-family: "Roboto Flex";
}

.how__container {
    max-width: 1200px;
    margin: 0 auto;
}

.how__title {
    text-align: center;
    margin-top: 70px;
    font-size: $size-text-middle;
    font-weight: bold;
}

.how__about {
    text-align: center;
    margin-top: 30px;
}

.how__video {
    margin-top: 60px;
    margin-left: 240px;
}

.video-img {
    width: 1030px;
    height: 600px;
}

.author {
    background-color: #34547A;
    font-family: "Roboto Flex";
    padding: 30px 0;
}

.author__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 280px;
}

.author__container__who,
.author__container__who__when {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 13px;
}

