.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 400px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-areas: 
    "a a a a b"
    "c c c d b"
    "f h i d b"
    "g h i d e";
    gap: 4px;
}

@media (max-width:888px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 147px 147px 147px 147px 300px;
        grid-template-rows: 80px 80px 80px 80px;
    }
}

@media (max-width:720px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 120px 120px 120px 120px 240px;
        grid-template-rows: 100px 100px 100px 100px;
    }
}

@media (max-width:580px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 95px 95px 95px 95px 200px;
        grid-template-rows: 120px 120px 120px 120px;
    }
}

@media (max-width:460px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 75px 75px 75px 75px 160px;
        grid-template-rows: 130px 130px 130px 130px;
    }
}

@media (max-width:380px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 140px;
        grid-template-rows: 145px 145px 145px 145px;
    }
}

@media (max-width:340px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 48px 48px 48px 48px 148px;
        grid-template-rows: 150px 150px 150px 150px;
    }
}


.item {
    padding: 10px;
}

.item-a {
    grid-area: a;
    background-color: rgba(252, 187, 67, 0.671);
}

.item-b {
    background-color: rgba(252, 187, 67, 0.685);
    grid-area: b;
}

.item-c {
    background-color: rgba(204, 48, 48, 0.555);
    grid-area: c;
}

.item-d {
    background-color: rgba(13, 129, 13, 0.685);
    grid-area: d;
}

.item-e {
    background-color: rgba(13, 129, 13, 0.685);
    grid-area: e;
}

.item-f {
    background-color: rgba(255, 166, 0, 0.637);
    grid-area: f;
}

.item-g {
    background-color: rgba(13, 129, 13, 0.685);
    grid-area: g;
}

.item-h {
    background-color: rgba(204, 48, 48, 0.555);
    grid-area: h;
}

.item-i {
    background-color: rgba(255, 166, 0, 0.637);
    grid-area: i;
}