 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

 body {
    font-family: "Roboto";
 }

/* header start */

 .top-header-links {
    background-color: #EFEFEF;
 }

 .container {
  max-width: 1200px;
  margin: 0 auto;
 }

 .list-top-links {
    display: flex;
    justify-content: center;
 }

 .list-top-item {
    margin-left: 15px;
 }

 .top-link {
    color: #333;
    display: block;
    padding: 15px;
 }

 .center-container-section {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo-wrapper {
    display: flex;
    align-items: center;
 }

 .img-logo {
    margin-right: 20px;
 }

 .logo-name {
    text-transform: uppercase;
    color: #F13C6E;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
 }

 .call-back {
    border: 1px solid #F13C6E;
    border-radius: 20px;
    padding: 15px 20px;
    margin-left: 40px;
    background-color: #ffff;
 }

 .nav-links {
    display: flex;
    justify-content: center;
 }

 .nav-item {
    margin-left: 15px;
 }

 .nav-top-link {
    color: #000;
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
 }

 /* header end */

 /* slider-wrapper start */

 .slider-wrapper {
    background-image: url(./img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 190px 0;
    color: #EFEFEF;
     background-color: #F13C6E;
 }

 .slider-wrapper-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
 }

 .slider-wrapper-text {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 20px;
 }

.slider-wrapper-more {
   padding: 15px 25px;
   border: 2px solid #FFF;
   color: #EFEFEF;
   background-color: #efefef00;
   border-radius: 20px;
}

/* slider-wrapper end */

/* grey-section start */

.grey-section {
    background-color: #EFEFEF;
    padding: 40px 0;
    margin-top: -10px;
}

.chair-text {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 0 0;
    margin-top: 50px;
}

.chair-box {
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin: 35px;
}

.box {
   background-color: #ffffff;
   padding: 30px 39px;
   margin: 10px;
}

.img-chair {
   margin: 20px;
}
 
.chair-text-box {
   text-align: center;
   font-size: 14px;
   font-weight: 400;
}

.chair-price {
   font-size: 21px;
   font-weight: 500;
   letter-spacing: 1.05px;
   margin: 20px;
}

.buy-button {
   padding: 9px 53px;
   border-radius: 30px;
   background-color: #F13C6E;
   color: #EFEFEF;
}

.red-box {
   display: flex;
   justify-content: space-around;
   padding: 45px 0;
}

.delivery-box{
   display: flex;
   align-items: center;
   background-color: #F13C6E;
}

.post-box {
   display: flex;
   align-items: center;
   background-color: #F13C6E;
}

.information-delivery {
   padding: 50px 50px 50px 60px;
   margin: 15px;
}

.information-post {
   padding: 50px 60px 50px 50px;
   margin: 15px;
}

.text-delivery {
   color: #FFF;
   font-size: 18px;
   font-weight: 700;
}

.img-delivery {
   padding: 0 35px;
}

.img-post {
   padding: 0 35px;
}

.text-post {
   color: #FFF;
   font-size: 18px;
   font-weight: 700;
}

.p-delivery {
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
   margin-top: 20px;
   line-height: 140.625%;
}

.p-post {
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
   margin-top: 20px;
   line-height: 140.625%;
}

.button-delivery {
   padding: 7px 65px;
   border-radius: 10px;
   color: #C4C4C4;
   margin-top: 20px;
}

.button-post {
   padding: 7px 40px;
   border: 2px solid #FFF;
   color: #EFEFEF;
   background-color: #efefef00;
   border-radius: 20px;
   margin-top: 20px;
}

.flex-container-impuls {
   display: flex;
   flex-wrap: wrap;
   gap: 1px;
   margin-left: 30px;
   margin-top: 35px;
}

.impuls {
   display: flex;
   justify-content: center;
   align-items: center;
}

.img-impuls {
   padding: 35px 67px;
   background-color: white;
}

/* grey-section end */

/* footer start */

.navigation-module {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.nav-box {
   padding: 45px 65px;
}

.title-nav-box {
   padding: 15px 88px 22px 0;
   color: #000;
   font-size: 16px;
   font-weight: 500;
   font-style: normal;
   line-height: 140.625%;
   border-bottom: 1px solid #c4c4c4d7;
}

.nav-list {
   margin-top: 20px;
}

.nav-list-li {
   color: var(--828282, #828282);
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}